body {
    padding-top: 63px;
    .side-navbar {
        height: 100vh;
        width: 200px;
        background-color: #191919;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;
        transition: 300ms;
        .logo-bar {
            width: 100%;
            color: $hover-color;
            .logo {
                max-width: 150px;
                padding: 10px 0 10px 10px;
                font-family: $logo-font;
                font-size: 25px;
                cursor: pointer;
            }
            .burger {
                cursor: pointer;
                position: absolute;
                top: 10px;
                right: 15px;
                .line1,
                .line2,
                .line3 {
                    width: 20px;
                    height: 1px;
                    background-color: $paragraph-color;
                    margin: 5px;
                    padding: 2px 5px 0 0;
                }
            }
        }
        .sections {
            width: 100%;
            height: 300px;
            border-bottom: 1px solid $paragraph-color;
            .section {
                text-decoration: none;
                background-color: inherit;
                color: $paragraph-color;
                padding: 10px 0 10px 10px;
                transition: 300ms;
                cursor: pointer;
                &:hover {
                    background-color: #282828;
                    color: $hover-color;
                    border-left: 5px solid $orange;
                    svg {
                        fill: $orange;
                    }
                    a {
                        color: $hover-color;
                    }
                }
            }
            .section svg {
                height: 22px;
                width: 22px;
                float: left;
                fill: $paragraph-color;
                padding-right: 10px;
                margin-left: 15px;
            }
            .section a {
                font-size: 15px;
                text-decoration: none;
                color: $paragraph-color;
                &:hover,
                &:active,
                &:visited,
                &:focus {
                    text-decoration: none;
                }
            }
        }
        .manager {
            display: block;
            margin-top: 15px;
            width: 100%;
            h2 {
                margin: 0 0 5px 25px;
                text-transform: uppercase;
                color: $paragraph-color;
                font-size: 15px;
            }
            img {
                height: 40px;
                width: 40px;
                border-radius: 50%;
                float: left;
                margin: 15px 15px 0 25px;
                object-fit: cover;
            }
            .manager-name {
                font-size: 15px;
                color: $user-blue;
                float: right;
                margin: 25px 35px 0 10px;
            }
        }
    }
    .top-bar {
        width: 100%;
        height: 48px;
        background-color: $background-main-color;
        position: fixed;
        top: 0;
        left: 0;
        border-bottom: 1px solid $border-color;
        .wallet {
            border-right: 1px solid $border-color;
            border-left: 1px solid $border-color;
            color: $paragraph-color;
            float: right;
            padding: 10px 20px;
            height: 100%;
            span {
                float: left;
                transition: 200ms;
                &:hover {
                    color: $orange;
                }
            }
            &:hover {
                cursor: pointer;
            }
            .wallet-svg {
                padding-bottom: 5px;
            }
        }
        .wallet svg {
            float: left;
            height: 22px;
            width: 22px;
            padding: 0 5px;
            fill: $paragraph-color;
            transition: 200ms;
            &:hover {
                fill: $orange;
            }
        }
        .notification {
            float: right;
            height: 100%;
            padding: 13px 20px;
            &:hover {
                cursor: pointer;
            }
        }
        .notification svg {
            height: 20px;
            width: 20px;
            fill: $paragraph-color;
            transition: 200ms;
            &:hover {
                fill: $orange;
            }
        }
        .user {
            border-left: 1px solid $border-color;
            float: right;
            height: 100%;
            color: $user-blue;
            padding: 0 20px;
            span {
                float: left;
                padding-top: 12px;
            }
            &:hover {
                cursor: pointer;
            }
        }
        .user svg {
            height: 22px;
            width: 22px;
            fill: $paragraph-color;
            margin-right: 15px;
            margin-top: 10px;
            float: left;
            transition: 200ms;
            &:hover {
                fill: $orange;
            }
        }
        .quit {
            border-left: 1px solid $border-color;
            float: right;
            height: 100%;
            padding: 13px 20px;
            &:hover {
                cursor: pointer;
            }
        }
        .quit svg {
            height: 20px;
            width: 20px;
            fill: $paragraph-color;
            transition: 200ms;
            &:hover {
                fill: $orange;
            }
        }
    }
    .general-statistics {
        float: right;
        width: calc(100% - 230px);
        background-color: $background-main-color;
        margin: 0 15px 15px 15px;
        -webkit-box-shadow: 0px 0px 9px 0px rgba(214, 210, 214, 1);
        -moz-box-shadow: 0px 0px 9px 0px rgba(214, 210, 214, 1);
        box-shadow: 0px 0px 9px 0px rgba(214, 210, 214, 1);
        h1 {
            color: $paragraph-color;
            font-size: 15px;
            width: 100%;
            border-bottom: 1px solid $border-color;
            padding: 0 0 10px 10px;
            text-transform: uppercase;
        }
        .forms {
            margin: 0;
            width: 100%;
            height: 7em;
            border-bottom: 1px solid $border-color;
            text-align: center;
            input {
                margin: 30px auto 10px auto;
                padding: 10px;
                display: inline-block;
                border-radius: 3px;
                border: 1px solid $border-color;
                color: $paragraph-color;
                font-size: 15px;
                text-align: center;
            }
            .submit {
                padding: 13px;
                background-color: $orange;
                color: $hover-color;
                border: none;
                cursor: pointer;
                transition: 200ms;
                &:hover {
                    background-color: transparent;
                    border: 1px solid $orange;
                    color: $orange;
                }
            }
            .refresh {
                line-height: 10px;
                display: inline-block;
                height: 40px;
                width: 40px;
                background-color: $orange;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                svg {
                    height: 20px;
                    width: 20px;
                    padding-top: 3px;
                    fill: $hover-color;
                }
            }
        }
        .row {
            margin: 3% 40% 0 40%;
            // padding: 10px;
            width: 20%;
            border: 1px solid $border-color;
            border-radius: 5px;
            .calendar-date-left,
            .calendar-date-right {
                display: inline-block;
                //   padding: 20px;
                color: $paragraph-color;
            }
            .calendar-date-left {
                border-right: 1px solid $border-color;
            }
            .calendar-date-right svg {
                height: 20px;
                width: 20px;
                padding-left: 5px;
                padding-right: 0;
                fill: $paragraph-color;
                //  float: right;
            }
        }
    }
    .data-1 {
        display: inline-block;
        width: 25%;
        margin: 30px 5% 30px 20%;
        float: left;
        .data-section-1 {
            display: inline-block;
            border-bottom: 1px solid $border-color;
            width: 100%;
            padding: 20px 0 5px 0;
            //   margin: 40px 5% 20px 20%;
            p {
                font-size: 15px;
                color: #ABABAB;
                display: inline-block;
                font-weight: bold;
            }
            .number {
                color: black;
                font-weight: 300;
                float: right;
            }
        }
    }
    .data-2 {
        display: inline-block;
        width: 25%;
        float: right;
        margin: 30px 20% 30px 5%;
        .data-section-2 {
            display: inline-block;
            border-bottom: 1px solid $border-color;
            width: 100%;
            padding: 20px 0 5px 0;
            //  margin: 40px 20% 20px 5%;
            // float: right;
            p {
                font-size: 15px;
                color: #ABABAB;
                display: inline-block;
                font-weight: bold;
            }
            .number {
                color: black;
                font-weight: 300;
                float: right;
            }
        }
    }
    h2 {
        margin-top: 40px;
        margin-left: 20%;
        font-size: 15px;
        color: #ABABAB;
        font-weight: bold;
    }
    .earnings {
        .chart {
            width: 70%;
            display: block;
            margin: 20px auto;
        }
    }
}

.links {
    float: right;
    width: calc(100% - 230px);
    background-color: $background-main-color;
    margin: 0 15px 15px 15px;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(214, 210, 214, 1);
    -moz-box-shadow: 0px 0px 9px 0px rgba(214, 210, 214, 1);
    box-shadow: 0px 0px 9px 0px rgba(214, 210, 214, 1);
    h1 {
        color: $paragraph-color;
        font-size: 15px;
        width: 100%;
        border-bottom: 1px solid $border-color;
        padding: 0 0 10px 10px;
        text-transform: uppercase;
    }
    .add {
        display: block;
        margin: 20px auto;
        background-color: $orange;
        border-radius: 5px;
        width: 120px;
        height: 45px;
        color: $hover-color;
        font-size: 20px;
        border: none;
        cursor: pointer;
        transition: 200ms;
        &:hover {
            background-color: transparent;
            border: 1px solid $orange;
            color: $orange;
        }
    }
    ul {
        display: block;
        margin: 15px auto;
        li {
            margin: 0 300px;
            text-decoration: none;
            list-style: none;
            border-top: 1px solid $border-color;
            padding: 10px 0;
            svg {
                height: 20px;
                width: 20px;
                display: none;
            }
            &:hover {
                background-color: #F1F3F3;
                svg {
                    display: block;
                    float: right;
                    margin: 0 15px;
                }
                .orange {
                    fill: $orange;
                    cursor: pointer;
                }
                .trash {
                    fill: $paragraph-color;
                    cursor: pointer;
                }
            }
        }
        li:last-child {
            border-bottom: 1px solid $border-color;
        }
        p {
            min-width: 200px;
            color: $paragraph-color;
            font-size: 15px;
            font-weight: bold;
            padding-left: 15px;
            display: inline-block;
        }
        a {
            padding-top: 0;
            display: inline-block;
            text-decoration: none;
            color: $user-blue;
            margin: 0 40px 0 100px;
        }
    }
}

.pdata {
    float: right;
    width: calc(100% - 230px);
    background-color: $background-main-color;
    margin: 0 15px 15px 15px;
    // padding-bottom: 30px;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(214, 210, 214, 1);
    -moz-box-shadow: 0px 0px 9px 0px rgba(214, 210, 214, 1);
    box-shadow: 0px 0px 9px 0px rgba(214, 210, 214, 1);
    h1 {
        color: $paragraph-color;
        font-size: 15px;
        width: 100%;
        border-bottom: 1px solid $border-color;
        padding: 0 0 10px 10px;
        margin-bottom: 50px;
        text-transform: uppercase;
    }
    .pdata-form {
        display: block;
        width: 70%;
        margin: 10px 15%;
        height: 30px;
        p {
            max-width: 1200px;
            margin-top: 6px;
            color: $paragraph-color;
            font-size: 15px;
            font-weight: bold;
            padding-left: 15px;
            display: inline-block;
            float: left;
        }
        input {
            width: 50%;
            display: inline-block;
            color: $user-blue;
            margin: 3px 40px 0 50px;
            padding: 5px 0 0 5px;
            text-align: center;
            float: right;
            border-radius: 5px;
            border: 1px solid $orange;
            &::-webkit-input-placeholder,
             :-moz-placeholder,
             :-ms-input-placeholder,
             ::placeholder {
                font-size: 13px;
                line-height: 5px;
            }
        }
    }
    .submit {
        display: block;
        margin: 50px auto;
        background-color: $orange;
        border-radius: 5px;
        width: 120px;
        height: 45px;
        color: $hover-color;
        font-size: 20px;
        border: none;
        cursor: pointer;
        transition: 200ms;
        &:hover {
            background-color: transparent;
            border: 1px solid $orange;
            color: $orange;
        }
    }
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
        overflow: auto;
        padding: 30px;
        display: none;
        &.show {
            display: flex;
            .modal {
                display: block;
            }
        }
        .modal {
            max-width: 600px;
            margin: auto;
            background-color: #ffffff;
            position: relative;
            padding: 30px;
            display: none;
            .btn-close {
                position: absolute;
                top: 0;
                right: 0;
                padding: 5px 10px;
            }
        }
    }
}