.side-navbar {
    height: 100vh;
    width: 200px;
    background-color: #191919;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    .logo-bar {
        width: 100%;
        color: $hover-color;
        .logo {
            max-width: 150px;
            padding: 10px 0 10px 10px;
            font-family: $logo-font;
            font-size: 25px;
        }
        .burger {
            cursor: pointer;
            position: absolute;
            top: 10px;
            right: 15px;
            .line1,
            .line2,
            .line3 {
                width: 20px;
                height: 1px;
                background-color: $paragraph-color;
                margin: 5px;
                padding: 2px 5px 0 0;
            }
        }
    }
    .sections {
        width: 100%;
        height: 300px;
        border-bottom: 1px solid $paragraph-color;
        .section {
            text-decoration: none;
            background-color: inherit;
            color: $paragraph-color;
            padding: 10px 0 10px 10px;
            cursor: pointer;
            &:hover {
                background-color: #282828;
                color: $hover-color;
                border-left: 5px solid $orange;
                svg {
                    fill: $hover-color;
                }
            }
        }
        .section svg {
            height: 22px;
            width: 22px;
            float: left;
            fill: $paragraph-color;
            padding-right: 10px;
            margin-left: 15px;
        }
        .section a {
            font-size: 15px;
            text-decoration: none;
            &:active,
            &:visited {
                color: inherit;
            }
        }
    }
    .manager {
        display: block;
        margin-top: 15px;
        width: 100%;
        h2 {
            margin: 0 0 5px 25px;
            text-transform: uppercase;
            color: $paragraph-color;
            font-size: 15px;
        }
        img {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            float: left;
            margin: 15px 15px 0 25px;
        }
        .manager-name {
            font-size: 15px;
            color: $user-blue;
            float: right;
            margin: 25px 35px 0 10px;
        }
    }
}

.top-bar {
    width: 100%;
    height: 48px;
    background-color: $background-main-color;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid $border-color;
    .wallet {
        border-right: 1px solid $border-color;
        border-left: 1px solid $border-color;
        color: $paragraph-color;
        float: right;
        padding: 10px 20px;
        height: 100%;
        &:hover {
            cursor: pointer;
        }
    }
    .wallet svg {
        height: 22px;
        width: 22px;
        padding: 0 5px;
        fill: $paragraph-color;
    }
    .notification {
        float: right;
        height: 100%;
        padding: 13px 20px;
        &:hover {
            cursor: pointer;
        }
    }
    .notification svg {
        height: 20px;
        width: 20px;
        fill: $paragraph-color;
    }
    .user {
        border-left: 1px solid $border-color;
        float: right;
        height: 100%;
        color: $user-blue;
        padding: 0 20px;
        &:hover {
            cursor: pointer;
        }
    }
    .user svg {
        height: 22px;
        width: 22px;
        fill: $paragraph-color;
        margin-right: 15px;
        margin-top: 5px;
    }
    .quit {
        border-left: 1px solid $border-color;
        float: right;
        height: 100%;
        padding: 13px 20px;
        &:hover {
            cursor: pointer;
        }
    }
    .quit svg {
        height: 20px;
        width: 20px;
        fill: $paragraph-color;
    }
}

.general-statistics {
    float: right;
    width: calc(100% - 230px);
    background-color: $background-main-color;
    margin: 63px 15px 0 15px;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(214, 210, 214, 1);
    -moz-box-shadow: 0px 0px 9px 0px rgba(214, 210, 214, 1);
    box-shadow: 0px 0px 9px 0px rgba(214, 210, 214, 1);
    h1 {
        color: $paragraph-color;
        font-size: 15px;
        width: 100%;
        border-bottom: 1px solid $border-color;
        padding: 0 0 10px 10px;
        text-transform: uppercase;
    }
    .forms {
        margin: 0;
        width: 100%;
        height: 7em;
        border-bottom: 1px solid $border-color;
        .refresh {
            height: 35px;
            width: 35px;
            background-color: $orange;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            svg {
                height: 20px;
                width: 20px;
                padding-top: 3px;
                fill: $hover-color;
            }
        }
    }
    .row {
        margin: 3% 40% 0 40%;
        width: 20%;
        border: 1px solid $border-color;
        border-radius: 5px;
        .calendar-date-left,
        .calendar-date-right {
            display: inline-block;
            padding: 10px;
            color: $paragraph-color;
        }
        .calendar-date-right svg {
            height: 20px;
            width: 20px;
            padding-left: 5px;
            padding-right: 0;
            fill: $paragraph-color;
        }
    }
    .data {
        display: inline;
        .data-1,
        .data-2,
        .data-3,
        .data-4 {
            display: inline-block;
            border-bottom: 1px solid $border-color;
            width: 25%;
            p {
                font-size: 15px;
                color: #ABABAB;
                display: inline-block;
                font-weight: bold;
            }
            .number {
                color: black;
                font-weight: 300;
                float: right;
            }
        }
        .data-1,
        .data-2 {
            margin: 20px 5% 0 20%;
        }
        .data-3,
        .data-4 {
            margin: 20px 10% 0 5%;
        }
    }
    h2 {
        margin-top: 40px;
        margin-left: 20%;
        font-size: 15px;
        color: #ABABAB;
        font-weight: bold;
    }
    .graph {
        display: block;
        margin: 20px auto;
    }
}

.links {
    float: right;
    width: calc(100% - 230px);
    background-color: $background-main-color;
    margin: 15px;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(214, 210, 214, 1);
    -moz-box-shadow: 0px 0px 9px 0px rgba(214, 210, 214, 1);
    box-shadow: 0px 0px 9px 0px rgba(214, 210, 214, 1);
    h1 {
        color: $paragraph-color;
        font-size: 15px;
        width: 100%;
        border-bottom: 1px solid $border-color;
        padding: 0 0 10px 10px;
        text-transform: uppercase;
    }
    .add {
        display: block;
        margin: 20px auto;
        background-color: $orange;
        border-radius: 5px;
        width: 120px;
        height: 45px;
        color: $hover-color;
        font-size: 20px;
        border: none;
        cursor: pointer;
    }
    ul {
        display: block;
        margin: 15px auto;
        li {
            margin: 0 300px;
            text-decoration: none;
            list-style: none;
            border-top: 1px solid $border-color;
            padding: 10px 0;
            svg {
                height: 20px;
                width: 20px;
                display: none;
            }
            &:hover {
                background-color: #F1F3F3;
                svg {
                    display: block;
                    float: right;
                    margin: 0 15px;
                }
                .orange {
                    fill: $orange;
                }
                .trash {
                    fill: $paragraph-color;
                }
            }
        }
        li:last-child {
            border-bottom: 1px solid $border-color;
        }
        p {
            color: $paragraph-color;
            font-size: 20px;
            font-weight: bold;
            padding-left: 15px;
            display: inline-block;
        }
        a {
            padding-top: 0;
            display: inline-block;
            text-decoration: none;
            color: $user-blue;
            padding: 0 auto;
        }
    }
}