/*@media (min-width: 1400px) {
    .links {
        ul {
            p {
                min-width: 300px;
            }
        }
    }
}*/

@media (max-width: 1400px) and (min-width: 1201px) {
    body {
        .general-statistics {
            .earnings {
                .graph {
                    width: 600px;
                }
            }
        }
        .links {
            ul {
                p {
                    min-width: 70px;
                }
                a {
                    float: right;
                    margin: 0;
                    &:hover {
                        svg {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px) and (min-width: 992px) {
    body {
        .links {
            ul {
                p {
                    min-width: 0;
                    font-size: 10px;
                }
                a {
                    float: right;
                    margin: 0 auto;
                    font-size: 10px;
                    padding-top: 5px;
                    &:hover {
                        svg {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

@media(min-width: 768px) and (max-width: 991px) {
    body {
        .links {
            ul {
                li {
                    max-width: 100%;
                    margin: 0 50px;
                    a {
                        float: right;
                        margin: 0 15px 0 0;
                        &:hover {
                            svg {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        .pdata {
            .pdata-form {
                input {
                    margin: 3px 40px 0 25px;
                }
            }
        }
    }
}

@media(max-width: 767px) and (min-width: 501px) {
    body {
        .side-navbar {
            margin-left: -140px;
            transition: 300ms;
            .logo-bar {
                .burger {
                    transition: 300ms;
                    &.toggle {
                        .line1 {
                            transform: rotate(-45deg) translate(-5px, 6px);
                        }
                        .line2 {
                            opacity: 0;
                        }
                        .line3 {
                            transform: rotate(45deg) translate(-5px, -6px);
                        }
                    }
                }
            }
            .sections {
                border-bottom: 0;
                .section {
                    opacity: 0;
                }
            }
            .manager {
                h2 {
                    opacity: 0;
                }
                .manager-name {
                    opacity: 0;
                }
            }
            &.active {
                margin-left: 0;
                .sections {
                    border-bottom: 1px solid $paragraph-color;
                    .section {
                        opacity: 1;
                    }
                }
                .manager {
                    h2 {
                        opacity: 1;
                    }
                    .manager-name {
                        opacity: 1;
                    }
                }
            }
        }
        .general-statistics {
            width: calc(100% - 85px);
            .forms {
                input {
                    padding: 0;
                    margin: 40px auto 10px auto;
                }
                .submit {
                    padding: 3.5px;
                }
            }
            .data-1,
            .data-2 {
                display: block;
                margin: 30px auto 15px auto;
                width: 50%;
                float: none;
            }
        }
        .links {
            width: calc(100% - 85px);
            .add {
                width: 70%;
                height: 25px;
                font-size: 10px;
                transition: 200ms;
                &:hover {
                    background-color: transparent;
                    border: 1px solid $orange;
                    color: $orange;
                }
            }
            ul {
                li {
                    max-width: 100%;
                    margin: 0 50px;
                    &:hover {
                        svg {
                            display: none;
                        }
                    }
                    p {
                        font-size: 10px;
                    }
                    a {
                        float: right;
                        margin: 0 15px 0 0;
                        font-size: 10px;
                        padding-top: 5px;
                        &:hover {
                            svg {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        .pdata {
            width: calc(100% - 85px);
            .pdata-form {
                input {
                    margin: 3px 40px 0 25px;
                }
            }
        }
    }
}

@media (max-width: 500px) and (min-width:390px) {
    body {
        .side-navbar {
            margin-left: -140px;
            transition: 300ms;
            .sections {
                border-bottom: 0;
                .section {
                    opacity: 0;
                }
            }
            .manager {
                h2 {
                    opacity: 0;
                }
                .manager-name {
                    opacity: 0;
                }
            }
            &.active {
                margin-left: 0;
                .sections {
                    border-bottom: 1px solid $paragraph-color;
                    .section {
                        opacity: 1;
                    }
                }
                .manager {
                    h2 {
                        opacity: 1;
                    }
                    .manager-name {
                        opacity: 1;
                    }
                }
            }
        }
        .top-bar {
            .wallet {
                span {
                    display: none;
                }
            }
            .user {
                span {
                    display: none;
                }
                svg {
                    margin-right: 0;
                }
            }
        }
        .general-statistics {
            width: calc(100% - 85px);
            .forms {
                input {
                    padding: 0;
                    margin: 10px auto;
                }
                .submit {
                    padding: 3.5px;
                    margin: 10px auto;
                }
            }
            .data-1,
            .data-2 {
                display: block;
                margin: 30px auto 15px auto;
                width: 50%;
                float: none;
            }
        }
        .links {
            width: calc(100% - 85px);
            .add {
                width: 60px;
                height: 25px;
                font-size: 10px;
            }
            .add {
                width: 74%;
                transition: 200ms;
                &:hover {
                    background-color: transparent;
                    border: 1px solid $orange;
                    color: $orange;
                }
            }
            ul {
                li {
                    max-width: 100%;
                    margin: 0 50px;
                    &:hover {
                        svg {
                            display: none;
                        }
                    }
                    p {
                        font-size: 10px;
                        min-width: 60px;
                    }
                    a {
                        float: right;
                        margin: 0 15px 0 0;
                        font-size: 8px;
                        padding-top: 5px;
                        &:hover {
                            svg {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        .pdata {
            width: calc(100% - 85px);
            .pdata-form {
                p {
                    font-size: 11px;
                }
                input {
                    margin: 3px 40px 0 0;
                }
            }
        }
    }
}

@media (max-width: 390px) {
    body {
        .side-navbar {
            margin-left: -140px;
            transition: 300ms;
            .sections {
                border-bottom: 0;
                .section {
                    opacity: 0;
                }
            }
            .manager {
                h2 {
                    opacity: 0;
                }
                .manager-name {
                    opacity: 0;
                }
            }
            &.active {
                margin-left: 0;
                .sections {
                    border-bottom: 1px solid $paragraph-color;
                    .section {
                        opacity: 1;
                    }
                }
                .manager {
                    h2 {
                        opacity: 1;
                    }
                    .manager-name {
                        opacity: 1;
                    }
                }
            }
        }
        .top-bar {
            .wallet {
                span {
                    display: none;
                }
            }
            .user {
                span {
                    display: none;
                }
                svg {
                    margin-right: 0;
                }
            }
        }
        .general-statistics {
            width: calc(100% - 85px);
            .forms {
                height: 9em;
                input {
                    padding: 0;
                    display: block;
                    width: 90%;
                }
                .submit {
                    padding: 3.5px;
                    display: block;
                    width: 90%;
                }
            }
            .data-1,
            .data-2 {
                display: block;
                margin: 30px auto 15px auto;
                width: 50%;
                float: none;
            }
        }
        .links {
            width: calc(100% - 85px);
            .add {
                height: 25px;
                font-size: 10px;
                width: 67%;
                transition: 200ms;
                &:hover {
                    background-color: transparent;
                    border: 1px solid $orange;
                    color: $orange;
                }
            }
            ul {
                li {
                    max-width: 100%;
                    margin: 0 50px;
                    &:hover {
                        svg {
                            display: none;
                        }
                    }
                    p {
                        font-size: 10px;
                        min-width: 60px;
                        padding: 0;
                    }
                    a {
                        float: right;
                        margin: 0;
                        font-size: 8px;
                        padding-top: 5px;
                        &:hover {
                            svg {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
    .pdata {
        width: calc(100% - 85px);
        .pdata-form {
            width: 100%;
            margin: 10px 0;
            p {
                font-size: 11px;
            }
            input {
                margin: 3px 40px 0 0;
            }
        }
        .submit {
            width: 90%;
        }
    }
}