/* Colors */

$paragraph-color: #797979;
$hover-color: #EDEDED;
$orange: #F58220;
$user-blue: #83A2B8;
$background-main-color: #FFFFFF;
$body-color: #F5F5F2;
$border-color: #BCBCBC
/* Font sizes */


/* Fonts */

$logo-font: 'Indie Flower',
cursive;
$paragraph-font: "Open Sans",
sans-serif;