@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Open+Sans');
@import "variables";
@import "mixins";
@import "normalize";
@import "layout";

/* Components */

@import "components/form_field";

/* Sections */

@import "section/registration_form";

/* Pages / Views */

@import "pages/registration";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $paragraph-font;
}