@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Open+Sans');
@import "variables";
@import "mixins";
@import "normalize";
@import "layout";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $paragraph-font;
}